*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
}

body{
	height: 100vh;
	width: 100%;
        text-align: center;
        position: relative;
        
}



h1{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
        text-align: center;
        position: relative;

}


form{
	width: 100%;
	/*border: 2px solid rgba(0, 0, 0, 0);*/
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
        text-align: center;
        position: relative;
}

img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
        position: relative;
       
}


#botao{
  display: inline-block;
  margin-top: 40px;
  background-color: #40e0d0; /* turquesa */
  border: 0;
  border-radius: 8px;
  color: white;
  padding: 15px 22px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  position: relative;
  align-items: center;
  justify-content: center;
  position: relative;

}

ul{
  list-style-type: none;


}

table{
        
        text-align: center;
	margin: auto;
	width: 80%;
        position: relative;
        border-radius: 8px;
        border: 1px solid black;

}

th{
	background-color: #40e0d0; /* turquesa */
	color: white;

}

td{
  background-color: rgba(230, 230, 230, 0.6);
}

li a{
  text-decoration: none;
}


.lista{
   
   display: flex;
   flex-direction: column;
   width: 100%;
   align-items: center;
   justify-content: center;
  
   position: relative;
   color: black;
   outline: none;
   background-color: rgba(230, 230, 230, 0.6);
   padding: 0.5rem 1rem;
   font-size: 1.1rem;
   margin-bottom: 22px;
   transition: .3s;
   text-align: center;

}
.side{
        display: block;
	margin-left: auto;
	margin-right: auto;
	width: 10%;
        position: relative;
       
}
